html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    color: #000;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

.header{
    background-color: #FFF8F3;
}
.container{
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
button{
    cursor: pointer;
    border: none;
    padding: 0;
    border-radius: 0;
}
.menu__btn{
    display: none;
    width: 30px;
    height: 25px;
    background-color: transparent;
}
.menu__btn span{
    height: 1px;
    background-color: #7B6152;
    width: 100%;
}
.header__inner{
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
    gap: 20px;
}
.menu__list-link{
    text-transform: uppercase;
}
.phone{
    position: relative;
}
.phone::before{
    content: '';
    position: absolute;
    background-image: url("../images/phone.svg");
    width: 20px;
    height: 20px;
    left: -23px;
    top: -3px;
}
.main{
    background-color: #FFF8F3;
    overflow: clip;
}
.top{
    padding-top: 40px;
    padding-bottom: 150px;
}
.top__inner{
    position: relative;
}
.top__content{
    padding: 150px 0 250px;
    width: 370px;
}
.top__title{
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
    margin-bottom: 15px;
}
.top__text{
    margin-bottom: 48px;
}
.top__buy{
    padding: 18px 54px;
    background-color: #FFBD59;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    transition: .5s ease;
}
.top__buy:hover{
    background-color: #7B6152;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 18px;
}
.top__img{
    position: absolute;
    top: 0;
    left: 240px;
}
.about{
    background-color: #A5978E;
    padding: 50px;
    color: #FAFAFA;
}
.about__inner{
    display: flex;
    align-items: center;
}
.about__content{
    min-width: 370px;
}
.about__title{
margin-bottom: 15px;
    font-size: 40px;
}
.about__text{
    margin-bottom: 15px;
}
.about__list{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 110px;
    padding-bottom: 48px;
    position: relative;
}
.about__list::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/about-4.png);
    width: 22px;
    height: 30px;
}
.about__list::after{
    content: '';
    position: absolute;
    left: 21px;
    bottom: 10px;
    background-color: #7B6152;
    width: 1000%;
    height: 1px;
}
.about__item-img{
    margin-bottom: 10px;
}
.about__item-text{
    font-size: 11px;
}








.footer{
    padding-top: 40px;
    padding-bottom: 35px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__contacts{
    display: flex;
    width: 230px;
    flex-direction: column;
    gap: 17px;
}
.footer__social{
    display: flex;
    gap: 15px;
}








@media (max-width: 1000px) {
    .container{
        padding: 0 20px;
    }
    .top__content{
        width: 333px;
        padding: 90px 0 70px;
    }
    .top__title {
        font-size: 27px;
    }
    .top__text{
        margin-bottom: 30px;
    }
    .top__img{
        left: 300px;
    }
    .top__img-l{
        width: 655px;
    }
    .about{
        padding: 50px 0;
    }
    .about__content{
        min-width: 300px;
    }
    .about__list{
        padding-left: 20px;
    }
}
@media (max-width: 900px){
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer__contacts{
        width: 100%;
        align-items: center;
        padding-top: 15px;
    }
}
@media (max-width: 768px){
    .phone::before{
        width: 14px;
        height: 14px;
        left: -16px;
        top: -2px;
        background-size: cover;
    }
    body{
        font-size: 10px;
    }
    .container{
        max-width: 640px;
    }
    .top__content{
        width: 230px;
    }
    .top__title{
        margin-bottom: 20px;
        font-size: 18px;
    }
    .top__text{
        margin-bottom: 20px;
    }
    .top__img {
        left: 225px;
    }
    .top__img-l {
        width: 590px;
    }
    .about__inner{
        align-items: flex-start;
    }
    .about__title{
        font-size: 15px;
    }
    .about__list{
        margin-left: 9px;
        margin-bottom: 33px;
        gap: 0 10px;
    }
    .about__item-text{
        font-size: 6px;
    }
    .about__item-img{
        margin-bottom: 6px;
    }
    .about__content{
        min-width: 200px;
    }
    .about__item-img--1{
        width: 120px;
    }
    .about__item-img--2{
        width: 195px;
    }
    .about__item-img--3{
        width: 120px;
    }
}
@media (max-width: 640px){
    .container{
        padding: 0 10px;
    }
    .header__menu-list{
        padding: 20px 0;
        position: absolute;
        background-color: #7B6152;
        color: #FFF8F3;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        left: 0;
        right: 0;
        top: 80px;
        transform: translateX(-100%);
        transition: transform .5s ease;
        z-index: 5;
    }
    .header__menu-list.menu--open{
        transform: translateX(0);
    }
    .menu__btn{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .header__menu{
        order: 1;
    }
    .footer{
        font-size: 14px;
    }
}
@media (max-width: 500px){
    .footer__inner{
        flex-direction: column;
        align-items: center;
    }
    .menu__footer-list{
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }
    .footer{
        padding: 50px 0;
    }
    .
}
@media (max-width: 480px) {
    .top{
        padding-top: 0;
        padding-bottom: 70px;
    }
    .top__content{
        width: 180px;
    }
    .top__title{
        margin-bottom: 15px;
        font-size: 14px;
    }
    .top__text{
        margin-bottom: 15px;
        font-size: 8px;
    }
    .top__img {
        left: 175px;
        top: 25px;
    }
    .top__img-l{
        width: 308px;
    }
    .top__buy{
        padding: 14px 30px;
        font-size: 10px;
    }
    .about__content{
        min-width: 170px;
    }
    .about__list{
        margin-left: 0;
        padding-left: 10px;
    }
    .about__item-text{
        display: none;
    }
    .about__item-img--1{
        width: 80px;
    }
    .about__item-img--2{
        width: 140px;
    }
    .about__item-img--3{
        width: 80px;
    }
    .about__list{
        gap: 0 5px;
        align-items: flex-end;
        margin-left: 5px;
        margin-bottom: 0;
    }
    .about__inner{
        align-items: flex-end;
    }
}
@media (max-width: 360px) {
    .top{
        padding-bottom: 0;
    }
    .top__content{
        width: 200px;
    }
    .top__title{
        margin-bottom: 15px;
        font-size: 16px;
    }
    .top__text{
        margin-bottom: 15px;
        font-size: 10px;
    }
    .top__img {
        left: 190px;
        top: 35px;
    }
    .top__img-l{
        width: 190px;
    }
    .top__buy{
        padding: 14px 30px;
        font-size: 10px;
    }
    body{
        font-size: 8px;
    }
    .about{
        padding: 25px 0;
    }
    .about__inner{
        align-items: flex-start;
    }
    .about__content{
        min-width: 233px;
    }
    .about__title{
        margin-bottom: 10px;
    }
    .about__list{
        gap: 0 15px;
        padding-top: 14px;
        padding-bottom: 30px;
        padding-left: 13px;
        margin-left: 15px;
        align-items: flex-start;
    }
    .about__item-img--2{
        display: none;
    }
}