html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    color: #000;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

.header{
    background-color: #FFF8F3;
}
.container{
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
button{
    cursor: pointer;
    border: none;
    padding: 0;
    border-radius: 0;
}
.section{
    padding-bottom: 150px;
}
.section--decor{
    position: relative;
}
.section--decor::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/section-decor.png);
    width: 22px;
    height: 30px;
}
.section--decor::after{
    content: '';
    position: absolute;
    left: 21px;
    bottom: 10px;
    background-color: #7B6152;
    width: 105%;
    height: 1px;
}
.title{
    margin-bottom: 10px;
    font-family: Yeseva One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu__btn{
    display: none;
    width: 30px;
    height: 25px;
    background-color: transparent;
}
.menu__btn span{
    height: 1px;
    background-color: #7B6152;
    width: 100%;
}
.header__inner{
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
    gap: 20px;
}
.menu__list-link{
    text-transform: uppercase;
}
.phone{
    position: relative;
}
.phone::before{
    content: '';
    position: absolute;
    background-image: url("../images/phone.svg");
    width: 20px;
    height: 20px;
    left: -23px;
    top: -3px;
}
.main{
    background-color: #FFF8F3;
    overflow: clip;
}
.top{
    padding-top: 40px;
    padding-bottom: 150px;
}
.top__inner{
    position: relative;
}
.top__content{
    padding: 150px 0 250px;
    width: 370px;
}
.top__title{
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
    margin-bottom: 15px;
    font-weight: 400;
}
.top__text{
    margin-bottom: 48px;
}
.button__buy{
    margin: 0 auto;
    padding: 18px 54px;
    background-color: #FFBD59;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    transition: .5s ease;
}
.top__buy:hover{
    background-color: #7B6152;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 18px;
}
.top__img{
    position: absolute;
    top: 0;
    left: 240px;
}
.about{
    background-color: #A5978E;
    padding: 50px;
    color: #FAFAFA;
    margin-bottom: 150px;
}
.about__inner{
    display: flex;
    align-items: center;
}
.about__content{
    min-width: 370px;
}
.about__title{
margin-bottom: 15px;
    font-size: 30px;
}
.about__text{
    margin-bottom: 15px;
}
.about__list{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 110px;
    padding-bottom: 48px;
}

.about__item-img{
    margin-bottom: 10px;
}
.about__item-text{
    font-size: 11px;
}

.section__inner{
    display: grid;
    grid-template-columns: 370px auto;
}
.products__title{
    font-family: Yeseva One;
    font-weight: 400;
    font-size: 30px;
}
.section__content-descr{
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 92px;
}
.products__content{
    gap: 50px 90px;
}
.products__item{
    width: 290px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.products__item-img{
    margin-bottom: 8px;
}
.products__item-price{
    font-family: Yeseva One;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
}
.products__item-title{
    font-family: Yeseva One;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}
.products__item-text{
    font-size: 12px;
    margin-bottom: 27px;
}

.steps__list{
    gap: 70px 25px;
    counter-reset: number;
}
.steps__item{
    display: flex;
    list-style-type: none;
    position: relative;
    background-color: #ccccce;
    border-radius: 5px;
}
.steps__item--odd .steps__item-img{
    border-radius: 0 5px 5px 0;
}
.steps__item--even .steps__item-img{
    border-radius: 5px 0 0 5px;
}
.steps__item::before{
    counter-increment: number;
    content: '0' counter(number);
    position: absolute;
    bottom: 0;
    left: 10px;
    font-family: Yeseva One;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #BEA495;
}
.steps__item--even::before{
    left: auto;
    right: 10px;
}
.steps__item:nth-child(n+10)::before{
    content: counter(number);
}
.steps__item-text{
    flex-basis: 174px;
    padding: 10px 10px 30px 10px;
    text-align: left;
}
.steps__item--odd .steps__item-text{
    margin-right: auto;
}
.steps__item--even .steps__item-text{
    margin-left: auto;
}
.courses__item-img{
    position: relative;
    color: #fff;
    font-size: 11px;
    font-family: 'Yeseva One', cursive;
}
.courses__title{
    background-color: #BEA495;
    padding: 15px;
    position: absolute;
    left: 0;
    top: 45%;
}
.courses__time{
    background-color: #BEA495;
    padding: 7px 10px;
    position: absolute;
    left: 0;
    top: 60%;
}
.courses__time span{
    font-family: Comfortaa;
    font-size: 10px;
}
.courses__price{
    position: absolute;
    background-color: #BEA495;
    padding: 19px 10px;
    right: 0;
    bottom: 2px;
}
.team{
    background-color: #A5978E;
    padding: 80px 0 60px;
    margin-bottom: 150px;
    color: #FFF8F3;
}
.team__content{
    padding-bottom: 0;
    gap: 75px;
}
.team__item{
    position: relative;
}
.team__item-box{
    position: absolute;
    bottom: 8px;
    left: 160px;
    padding: 14px 9px;
    background-color: #7B6152;
    width: 165px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #FFF8F3;
}
.team__item-name{
    font-family: Yeseva One;
    font-size: 12px;
    margin-bottom: 10px;
}
.team__item-descr{
    font-family: Comfortaa;
    font-size: 9px;
}
.rews__item{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0 16px;
}
.rews__descr{
    padding-right: 20px;
}
.rews__item-video{
    position: relative;
}
.rews__item-btn{
    background: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.rews__item-content{
    padding-bottom: 70px;
}
.rews__item-sociallink{
    margin-bottom: 15px;
    height: 22px;
    display: block;
}
.rews__item-title{
    margin-bottom: 15px;
    font-family: Yeseva One;
    font-size: 16px;
}
.rews__item-text{
    margin-bottom: 15px;
    font-size: 14px;
}
.rews__button{
    position: absolute;
    bottom: 10px;
    right: 0;
}
.rews__content{
    padding-bottom: 110px;
}
.rews__slider{
    width: 760px;
    overflow: hidden;
}
.rews__content .swiper-pagination{
    bottom: 50px;
}
.swiper-pagination-bullet{
    background-color: #BEA495;
    width: 53px;
    height: 4px;
    border-radius: 0;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #7B6152;
}

.certificates__slider{
    width: 1135px;
    overflow: hidden;
}
.certificates__descr{
    margin-right: 20px;
}
.certificates__content{
    padding-bottom: 114px;
}
.certificates__content .swiper-pagination{
    bottom: 60px;
    text-align: left;
}
.accordeon{}
.accordeon__item{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}
.accordeon__title{
    padding: 17px 50px 17px 13px;
    font-family: Yeseva One;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
    position: relative;
}
.accordeon__title::after{
    content: '';
    background-image: url(../images/Vector.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    right: 26px;
    top: 17px;
    transition: .3s ease;
}
.accordeon__title--active::after{
    transform: rotate(180deg);
}
.accordeon__text{
    padding: 0 40px;
    font-size: 14px;
    opacity: 0;
    max-height: 0;
    transition: .3s ease;
}
.accordeon__text--visible{
    opacity: 1;
    padding: 0 40px;
    margin-bottom: 20px;
}

.promo{
    background-image: url("../images/promo.jpg");
    padding: 140px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promo__text{
    color: #FFF8F3;
    font-family: Yeseva One;
    font-size: 32px;
    font-style: normal;
    padding-left: 56px;
}
.promo__btn{
    background-color: #FFBD59;
    padding: 14px 25px 12px;
    display: inline-block;
    color: #272727;
    min-width: 135px;
    text-align: center;
}
.contacts{
    padding: 150px 0 50px;
}
.contacts__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.form{
    background-color: #FFF;
    width: 664px;
    padding: 75px 42px 67px;
}
.form__title{
    margin-bottom: 60px;
}
.form__input{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
    margin-bottom: 27px;
    padding: 7px 10px;
    color: #000;
}
.form__btn{
    margin-top: 23px;
}
.form__input::placeholder{
    color: #B3B3B3;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer{
    padding-top: 40px;
    padding-bottom: 35px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__contacts{
    display: flex;
    width: 230px;
    flex-direction: column;
    gap: 17px;
}
.footer__social{
    display: flex;
    gap: 15px;
}



@media (max-width: 1147px) {
    .rews__title{
        font-size: 35px;
    }
    .certificates__title{
        font-size: 24px;
    }
    .certificates__content img{
        width: 280px;
    }
    .certificates__slider{
        width: 860px;
    }
}

@media (max-width: 1080px) {
    .steps__list {
        gap: 37px 35px;
        counter-reset: number;
    }
    .section__inner {
        display: grid;
        grid-template-columns: 300px auto;
    }
    .team__title{
        font-size: 20px;
    }
    .team__content {
        gap: 30px 20px
    }
}
@media (max-width: 1000px) {
    .title {
        font-size: 20px;
    }
    .container{
        padding: 0 20px;
    }
    .top__content{
        width: 333px;
        padding: 90px 0 70px;
    }
    .top__title {
        font-size: 27px;
    }
    .top__text{
        margin-bottom: 30px;
    }
    .top__img{
        left: 300px;
    }
    .top__img-l{
        width: 655px;
    }
    .about{
        padding: 50px 0;
    }
    .about__content{
        min-width: 300px;
    }
    .about__list{
        padding-left: 20px;
    }
    .section__inner{
        grid-template-columns: 290px auto;
        gap: 0 10px;
    }
    .section__text{
        font-size: 10px;
    }
    .products__content{
        gap: 67px;
    }
    .section__inner {
        grid-template-columns: 190px auto;
        gap: 0 10px;
    }
    .promo__text{
        padding-left: 0;
        padding-right: 10px;
    }
    .promo{
        padding: 120px 0;
    }
    .contacts__img{
        width: 335px;
    }
    .products__descr{
        max-width: 290px;
    }
    .steps__item::before,
    .steps__item--even::before{
        font-size: 22px;
    }
}
@media (max-width: 986px){
    .rews__item-title{
        font-size: 12px;
        font-style: normal;
    }
    .rews__slider{
        width: 430px;
        margin: 0 auto;
    }
    .rews__item-text{
        font-size: 10px;
    }
    .rews__item{
        align-items: start;
    }
    .rews__item-img{
        width: 200px;
    }
    .rews__item-btn img{
        width: 50px;
    }
    .rews__item-sociallink img{
        width: 15px;
        margin-bottom: 10px;
    }
    .rews__content .swiper-pagination {
        bottom: 36px;
        left: 32%;
        width: 125px;
    }
    .rews__content .swiper-pagination-bullet{
        width: 23px;
    }
    .rews__content {
        padding-bottom: 30px;
    }
    .rews__button {
        padding: 10px 20px;
    }
    .certificates__content .swiper-pagination {
        bottom: 40px;
        left: 40%;
        width: 125px;
    }
    .certificates__content .swiper-pagination-bullet{
        width: 23px;
    }
    .certificates__content img {
        width: 200px;
    }
    .certificates__slider {
        width: 600px;
    }
    .certificates__content{
        padding-bottom: 80px;
    }
}

@media (max-width: 900px){
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer__contacts{
        width: 100%;
        align-items: center;
        padding-top: 15px;
    }
    .products__content{
        gap: 30px 16px;
    }

    .steps__item-img{
        width: 84px;
        object-fit: cover;
    }

    .steps__list {
        gap: 25px 35px;
    }
    .steps__item::before {
        font-size: 20px;
    }
    .team__content {
        gap: 30px 15px
    }

    element.style {
    }
    .team__item-box {
        left: 140px;
        padding: 5px 5px;
        width: 140px;
    }
    .team__item-name {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .team__item-descr {
        font-size: 8px;
    }
    .promo__text{
        font-size: 15px;
    }
}
@media (max-width: 800px){
    .products__descr{
        max-width: 190px;
    }
    .products__content{
        gap: 30px 16px;
    }
    .products__item{
        width: 210px;
    }
    .products__item-img{
        margin-bottom: 6px;
        width: 200px;
    }
    .products__item-title{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .products__item-price{
        font-size: 12px;
        margin-bottom: 7px;
    }
    .products__item-text{
        font-size: 8px;
        margin-bottom: 18px;
    }
    .button__buy{
        font-size: 12px;
        margin-top: auto;
        padding: 10px 26px;
    }
    .courses__title{
        top: 0;
        padding: 8px;
    }
    .courses__time{
        top: 50%;
        padding: 3px 5px;
    }
    .courses__price{
        padding: 10px;
        bottom: 2px;
    }
    .team__img{
        width: 145px;
    }
    .team__item-box{
        width: 110px;
        padding: 5px;
        left: 105px;
    }
    .team__item-name{
        font-size: 8px;
        margin-bottom: 5px;
    }
    .team__item-descr{
        font-size: 7px;
    }
    .team__content {
        gap: 30px 15px
    }
}
@media (max-width: 768px){
    .phone::before{
        width: 14px;
        height: 14px;
        left: -16px;
        top: -2px;
        background-size: cover;
    }
    body{
        font-size: 10px;
    }
    .container{
        max-width: 640px;
    }
    .top__content{
        width: 230px;
    }
    .top__title{
        margin-bottom: 20px;
        font-size: 18px;
    }
    .top__text{
        margin-bottom: 20px;
    }
    .top__img {
        left: 225px;
    }
    .top__img-l {
        width: 590px;
    }
    .about__inner{
        align-items: flex-start;
    }
    .about__title{
        font-size: 15px;
    }
    .about__list{
        margin-left: 9px;
        margin-bottom: 33px;
        gap: 0 10px;
    }
    .about__item-text{
        font-size: 6px;
    }
    .about__item-img{
        margin-bottom: 6px;
    }
    .about__content{
        min-width: 200px;
    }
    .about__item-img--1{
        width: 120px;
    }
    .about__item-img--2{
        width: 195px;
    }
    .about__item-img--3{
        width: 120px;
    }
    .section__inner{
        grid-template-columns: 190px auto;
        gap: 0 10px;
    }
    .steps__list {
        gap: 15px 20px;
    }
    .team__item-box {
        left: 90px;
    }
    .promo__btn{
        padding: 10px 35px;
    }
    .promo{
        padding: 67px 0;
    }
    .contacts__img{
        width: 187px;
        object-fit: cover;
    }
    .form{
        width: 440px;
        padding: 30px 20px;
    }
    .form__title{
        margin-bottom: 20px;
    }
    .section{
        padding-bottom: 50px;
    }
    .team, .about{
        margin-bottom: 50px;
    }
}
@media (max-width: 640px){
    .container{
        padding: 0 10px;
    }
    .header__menu-list{
        padding: 20px 0;
        position: absolute;
        background-color: #7B6152;
        color: #FFF8F3;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        left: 0;
        right: 0;
        top: 80px;
        transform: translateX(-100%);
        transition: transform .5s ease;
        z-index: 5;
    }
    .header__menu-list.menu--open{
        transform: translateX(0);
    }
    .menu__btn{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .header__menu{
        order: 1;
    }
    .footer{
        font-size: 14px;
    }
    .section__inner{
        grid-template-columns: auto;
        text-align: center;
        gap: 30px;
    }
    .section__descr{
        max-width: 300px;
        margin: 0 auto;
    }
    .products__title{
        font-size: 15px;
    }
    .section{
        padding-bottom: 50px;
    }
    .about {
        margin-bottom: 50px;
    }
    .team__item-box {
        left: 165px;
    }
    .team {
        padding: 30px 0;
        margin-bottom: 50px;
    }
}
@media (max-width: 565px){
    .team__content {
        padding: 0 20px;
        gap: 10px 5px;
    }
    .team__item-box {
        left: 60%;
    }
}
@media (max-width: 500px){
    .footer__inner{
        flex-direction: column;
        align-items: center;
    }
    .menu__footer-list{
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }
    .footer{
        padding: 50px 0;
    }
    .rews__descr {
        padding-right: 0;
    }
    .rews__item-content{
        text-align: left;
    }
    .rews__item-title {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .rews__button {
        position: absolute;
        bottom: 28px;
        right: 0;
        font-size: 8px;
    }
    .rews__item-text {
        font-size: 9px;
    }
    .certificates__slider {
        width: 423px;
        margin: 0 auto;
    }
}
@media (max-width: 480px) {
    .top{
        padding-top: 0;
        padding-bottom: 70px;
    }
    .top__content{
        width: 180px;
    }
    .top__title{
        margin-bottom: 15px;
        font-size: 14px;
    }
    .top__text{
        margin-bottom: 15px;
        font-size: 8px;
    }
    .top__img {
        left: 175px;
        top: 25px;
    }
    .top__img-l{
        width: 308px;
    }
    .top__buy{
        padding: 14px 30px;
        font-size: 10px;
    }
    .about__content{
        min-width: 170px;
    }
    .about__list{
        margin-left: 0;
        padding-left: 10px;
    }
    .about__item-text{
        display: none;
    }
    .about__item-img--1{
        width: 80px;
    }
    .about__item-img--2{
        width: 140px;
    }
    .about__item-img--3{
        width: 80px;
    }
    .about__list{
        gap: 0 5px;
        align-items: flex-end;
        margin-left: 5px;
        margin-bottom: 0;
    }
    .about__inner{
        align-items: flex-end;
    }
    .steps__item-text{
        flex-basis: 70px;
    }
    .steps__item-img{
        width: 70px;
    }
    .products__item {
        width: 150px;
    }
    .products__item-img{
        width: 150px;
    }
    .courses__content-descr{
        grid-template-columns: auto;
    }
    .promo{
        padding: 42px 0;
    }
    .contacts{
        padding: 50px 0;
    }
    .contacts__img{
        display: none;
    }
}
@media (max-width: 475px){
    .team__content {
        padding: 0 20px;
        grid-template-columns: auto;
    }
    .team__img {
        width: 205px;
    }

}
@media (max-width: 455px){
    .rews__item {
        grid-template-columns: auto;
    }
    .rews__item-content {
        text-align: center;
        width: 250px;
        margin: 0 auto;
    }
    .rews__button {
        position: unset;
    }
    .rews__content .swiper-pagination {
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .rews__item-img {
        width: 250px;
        margin-bottom: 12px;
    }
    .rews__item-text {
        margin-bottom: 20px;
    }
    .rews__slider, .certificates__slider {
        width: 360px;
    }
    .certificates__content .swiper-pagination {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
@media (max-width: 360px) {
    .top{
        padding-bottom: 0;
    }
    .top__content{
        width: 200px;
    }
    .top__title{
        margin-bottom: 15px;
        font-size: 16px;
    }
    .top__text{
        margin-bottom: 15px;
        font-size: 10px;
    }
    .top__img {
        left: 190px;
        top: 35px;
    }
    .top__img-l{
        width: 190px;
    }
    .top__buy{
        padding: 14px 30px;
        font-size: 10px;
    }
    body{
        font-size: 8px;
    }
    .about{
        padding: 25px 0;
    }
    .about__inner{
        align-items: flex-start;
    }
    .about__content{
        min-width: 233px;
    }
    .about__title{
        margin-bottom: 10px;
    }
    .about__list{
        gap: 0 15px;
        padding-top: 14px;
        padding-bottom: 30px;
        padding-left: 13px;
        margin-left: 15px;
        align-items: flex-start;
    }
    .about__item-img--2{
        display: none;
    }
    .section__descr{
        max-width: 235px;
        margin: 0 auto 25px;
    }
    .section__inner{
        grid-template-columns: auto;
        text-align: center;
        gap: 0;
    }
    .section__text{
        font-size: 8px;
    }
    .section{
        padding-bottom: 50px;
    }
    .about {
        margin-bottom: 50px;
    }
    .section__content-descr{
        gap: 40px 7px;
    }
    .team__item-name{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .team__item-descr{
        font-size: 10px;
    }
    .team__content {
        gap: 30px 15px;
        margin-right: auto;
    }
    .team__item-box {
        width: 165px;
        left: 70%;
    }
    .promo__text{
        font-size: 13px;
    }
    .accordeon__title{
        font-size: 10px;
    }
    .accordeon__title::after{
        width: 10px;
        height: 10px;
        background-size: contain;
    }
    .accordeon__text {
        font-size: 10px;
        text-align: left;
    }
}